@model PagedResult<PaymentDTO>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Payment History</h1>
</div>

@{
    var userId = @Url.ActionContext.RouteData.Values["id"];
}

<div class="mb-3">
    <a class="btn btn-primary" asp-action="Create" asp-route-id="@userId"> Add Payment Record </a>

</div>

<table class="table table-bordered table-striped table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Payment Id</th>
            <th scope="col">Payment Type</th>
            <th scope="col">Payment Amount</th>
            <th scope="col">Payment Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Data)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => p.Id)</th>
                <td>@Html.DisplayFor(modelItem => p.PaymentType)</td>
                <td>@Html.DisplayFor(modelItem => p.PaymentAmount)</td>
                <td>@Html.DisplayFor(modelItem => p.PaymentDate)</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex mt-1">
    <partial name="_Pager" model='Model.GetPagerModel<PaymentDTO>("Payment", "Index")' />
</div>