@model SeniorLearn.Areas.Administration.Models.Member.Edit

@{
    ViewData["Title"] = $"Manage Member";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

@{
    var message = TempData["Message"];

    if (message != null)
    {
        <p class="alert alert-success"role="alert">@message</p>
    }
    else
    {
        <p class="alert alert-success"role="alert" style="display: none"></p>
    }
}
    <div asp-validation-summary="All" role="alert" class="text-danger"></div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="FirstName" class="form-control" id="FirstName" placeholder="First Name" required />
                <label asp-for="FirstName">First Name</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="LastName" class="form-control" id="LastName" placeholder="Last Name" required />
                <label asp-for="LastName">Last Name</label>
            </div>
        </div>
    </div>

    <div class="mb-3 form-floating">
        <input asp-for="Email" class="form-control" id="Email" placeholder="Email" required />
        <label asp-for="Email">Email</label>
    </div>

    <div class="mb-3">
        <label for="SelectedRole">Assign Role</label>
        <select asp-for="SelectedRole" asp-items="Model.RoleTypes" id="SelectedRole" class="form-select">
            <option value="" selected>Please select a role</option>
        </select>
    </div>

    <div id="textBoxStandard">
        <p class="alert alert-info alert-dismissible fade show" role="alert">
            Standard role renewal date will be set for one year from the first of next month unless a manual date is specified.
        </p>
    </div>

    <div id="textBoxProfessional">
        <p class="alert alert-info alert-dismissible fade show" role="alert">
            Professional role renewal can be set for either 3 or 12 months or you can also specify a manual date.
        </p>
    </div>

    <div id="textBoxHonorary">
        <p class="alert alert-info alert-dismissible fade show" role="alert">
            Honorary members have the role for life unless manually removed.
        </p>
    </div>

    <div id="radioSelect">
        <div class="form-check">
            <input asp-for="Duration" type="radio" class="form-check-input" value="3" />
            <label class="form-check-label">
                3 Months (Trial)
            </label>
        </div>

        <div class="form-check mb-3">
            <input asp-for="Duration" type="radio" class="form-check-input" value="12">
            <label class="form-check-label">
                12 Months
            </label>
        </div>
    </div>

    <div id="checkDiv" class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" id="renewalCheckbox">
        <label class="form-check-label" for="renewalCheckbox">
            Manually Set Renewal Date
        </label>
    </div>

    <div class="mb-3" id="renewalDate">
        <input asp-for="RenewalDate" value= null type="date" class="form-control" placeholder="RenewalDate" />
    </div>

    <div class="mb-3">
        <h6>Current Assigned Roles</h6>
        <ul class="list-inline">
            @foreach (var role in Model.AssignedRoles)
            {
                <li class="list-inline-item badge bg-secondary">@role</li>
            }
        </ul>
    </div>
    <div class="mb-3">
        <input type="submit" value="Save" class="btn btn-primary w-100" />
    </div>
</form>

@foreach (var role in Model.AssignedRoles)
{
    <form asp-action="Edit" method="post" class="mb-3">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="RemoveRole" value="true" />
        <input type="hidden" asp-for="Role" value="@role" />
        <div>
            <button type="submit" class="btn btn-success w-100">Remove @role Role</button>
        </div>
    </form>
}
@section Scripts {
    <script src="/js/administration-member-edit.js"></script>
}