@model IEnumerable<EnrolmentDTO>
@{
    var courseName = Model.FirstOrDefault()?.Course?.Title;
    var lessonName = Model.FirstOrDefault()?.Title;

    if (courseName != null)
    {
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">@courseName</h1>
        </div>
    }
    else
    {
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">@lessonName</h1>
        </div>
    }
}

<h1 class="text-center mt-4 mb-3">@ViewData["Title"]</h1>
@{
    if (courseName != null)
    {
        <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                These lessons are part of a course, and if you decide to enrol, you are expected to attend each lesson.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info alert-dismissible d-flex align-items-center fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#info-fill" />
            </svg>
        <div>
            These lessons are not part of a course, and you may pick and choose which lessons you wish to enrol in.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        </div>
        <div id="error" class="alert alert-danger alert-dismissible fade show" style="display:none;" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            Please select at least one lesson to enrol in.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    }
    var image = Model.FirstOrDefault()?.ImageUrl;
    if (image != null)
    {
        <img class="img-fluid mx-auto d-block mb-3" src=@Url.Content(image) style="width: auto; height: auto; border-radius: 10px" />
    }
    else
    {
        <img src="" style="display:none">
    }
}
<form method="post" asp-action="Enrol" onsubmit="return checkIfChecked();">
    @Html.AntiForgeryToken()
    <table class="table table-responsive table-bordered table-striped table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Location</th>
                <th scope="col">Lecturer</th>
                <th scope="col">Selection</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => m.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => m.EndDate)</td>
                    <td>@($"{m.Duration} Minutes")</td>
                    <td>@Html.DisplayFor(modelItem => m.Address)</td>
                    <td>@m.Member.FirstName @m.Member.LastName</td>
                    <td>
                        @if (m.IsInCourse)
                        {
                            <input type="hidden" name="Lessons" value="@m.Id" />
                            <input type="checkbox" disabled checked />
                        }
                        else
                        {
                            <input class="lesson-checkbox" type="checkbox" name="Lessons" value="@m.Id" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#enrolmentModal">
        Enrol
    </button>
    <div class="modal fade" id="enrolmentModal" tabindex="-1" aria-labelledby="enrolmentModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enrolmentModalLabel">Confirm Enrolment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to enrol in the selected lessons?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm Enrolment</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function checkIfChecked() {
        const checkBoxes = document.querySelectorAll('.lesson-checkbox');
        let isChecked = false;

        checkBoxes.forEach((cb) => {
            if (cb.checked) {
                isChecked = true;
            }
        });
        if (!isChecked) {
            document.getElementById('error').style.display = "block";
            return false;
        }
        document.getElementById('error').style.display = "none";
        return true;
    }
</script>