@model IEnumerable<EnrolmentDTO>
@{
    ViewData["Title"] = "My Enrolments";

    var ce = Model.Where(c => c.IsInCourse).ToList();
    var le = Model.Where(l => !l.IsInCourse).ToList();
}
<h1 class="text-center mt-4 mb-3">@ViewData["Title"]</h1>
@{
    var error = TempData["Error"];
    var success = TempData["Success"];

    if (success != null)
    {
        <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                @success
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    if (error != null)
    {
        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                @error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
}
<form method="post" asp-action="UnenrolLessons">
    @if (le.Any())
    {
        <h3 class="text-center mt-4 mb-3" style="color: #007bff">Individual Lessons</h3>
        <table class="table table-responsive table-bordered table-striped table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Lecturer</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in le)
                {
                    <tr>
                        <td><strong>@Html.DisplayFor(modelItem => m.Title)</strong></td>
                        <td>@Html.DisplayFor(modelItem => m.Description)</td>
                        <td>@m.Member.FirstName @m.Member.LastName</td>
                        <td>@Html.DisplayFor(modelItem => m.StartDate)</td>
                        <td>@Html.DisplayFor(modelItem => m.EndDate)</td>
                        <td>
                            <input type="hidden" name="id" value="@m.Id" />
                            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                                data-bs-target="#unenrolmentLessonModal"> Unenrol
                            </button>
                            <div class="modal fade" id="unenrolmentLessonModal" tabindex="-1"
                                aria-labelledby="unenrolmentLessonModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="unenrolmentLessonModal">Confirm Unenrolment</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to unenrol from this lesson?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-primary">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</form>
<form method="post" asp-action="UnenrolCourseLessons">
    @if (ce.Any())
    {
        <h3 class="text-center mt-4 mb-3" style="color: #007bff">Course Lessons</h3>

        <div class="alert alert-warning alert-dismissible d-flex align-items-center fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="success:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                These lessons are part of a course, if you wish to unenrol, please be aware you will unenrol from all
                lessons in this course.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <table class="table table-responsive table-bordered table-striped table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Lecturer</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in ce)
                {
                    <tr>
                        <td><strong>@Html.DisplayFor(modelItem => m.Title)</strong></td>
                        <td>@Html.DisplayFor(modelItem => m.Description) </td>
                        <td>@m.Member.FirstName @m.Member.LastName</td>
                        <td>@Html.DisplayFor(modelItem => m.StartDate)</td>
                        <td>@Html.DisplayFor(modelItem => m.EndDate)</td>
                        <input type="hidden" name="Lessons" value="@m.Id" />
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary w-100 mb-3" data-bs-toggle="modal"
            data-bs-target="#unenrolmentCourseModal">
            Unenrol
        </button>
        <div class="modal fade" id="unenrolmentCourseModal" tabindex="-1" aria-labelledby="unenrolmentCourseModal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="unenrolmentCourseModal">Confirm Unenrolment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to unenrol from these lessons?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    }
</form>